h1,h2,h3{/*set up the heading format*/
   text-align: center; /* put the header at center*/
   font-weight: bold; /* bold the font*/
   color: #black;
}
#menu {/*set the Navigation bar*/
  width: 100%; /*as wide as browers*/
  height:35px;
  font-size: 16px;
  font-family: sans-serif; /*font style*/
  font-weight: bold;
  background-color: #white;/*menu's background-color*/
  border-radius: 6px;/*radius on the angel of the rectangular*/
  margin: 15px auto;/*blank out sides div*/
}
#menu ul{
  text-align: center;/*set up the text position*/
  height: auto;/*follow the hight of list*/
  padding: 8px 0px;
}
#menu li{/*set up the display mode*/
  display: inline; /*put contents in one line*/
  padding: 22px;/*blank in div top*/
}
.general_table table,tr,th,td{
	border : 1px solid black;
	align: center; /*put it center*/
	margin: 10px auto;
  background-color: #white;
  text-align: center;
  border-radius: 6px
}
.general_table td{
  border : 1px solid black;
}
